* {
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 165px;
    height: 80px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
    margin: auto auto;
    border-radius: 20px;
}

.wheel_wrapper {
    display: flex;
    justify-content: space-around;
    position: relative;
}

.wheel {
    background-color: black;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border-width: 5px;
    border-color: white;
    border-style: solid;
    position: relative;
}

.wheel_part {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 22px;
    left: 22px;
    animation-name: wheel_part;
    animation-timing-function: cubic-bezier(1,1,0.5,0.5);
    animation-iteration-count: infinite;
    animation-duration: 4s;
}
.wrapper .wheel:first-child {
    margin-right: 22px;
    animation-timing-function: cubic-bezier(1,1,0.5,0.5);
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.row {
    position: absolute;
    height: 5px;
    width: 90px;
    background-color: #fff;
    border-radius: 5px;
    top: 30px;
    left: 30px;
    animation-name: move;
    animation-timing-function: cubic-bezier(1,1,0.5,0.5);
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.row_part {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    top: 22px;
    left: 22px;
    animation-name: row_part;
    animation-timing-function: cubic-bezier(1,1,0.5,0.5);
    animation-iteration-count: infinite;
    animation-duration: 4s;
}

.road {
    width: 80px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    left: 165px;
    top: 70px;
    animation-name: road;
    animation-timing-function: cubic-bezier(1,1,0.5,0.5);
    animation-iteration-count: infinite;
    animation-duration: 2s;
}

.wrapper .road:last-child {
    animation-delay: 1s;
}

@keyframes move {
    from { transform: rotate(0deg) translateX(22px) rotate(0deg);}
    to { transform: rotate(360deg) translateX(22px) rotate(-360deg);}
}

@keyframes road {
    from { transform:  translateX(0px);}
    to { transform:  translateX(-247px);}
}

@keyframes wheel_part {
    from {
        transform: rotate(0deg) translateX(-22px);
    }
    to {
        transform: rotate(360deg) translateX(-22px);
    }
}

@keyframes row_part {
    from {
        transform: rotate(0deg) translateX(22px);
    }
    to {
        transform: rotate(360deg) translateX(22px);
    }
}