@font-face {
    font-family: "Myriad Pro";
    src: url("../fonts/myriad_pro_regular.ttf");
}

.wrapper {
    background-color: rgb(232 229 210);
    max-width: 1000px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
    background-image: url(../images/bg_factory.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    padding-top: 33px;
    padding-left: 50px;
    padding-bottom: 48px;
}

.header {
    padding-left: 45px;
    margin-bottom: 13px;
}

.logo {
    margin-right: 606px;
    width: 97px;
    display: inline-block;
}

.rights {
    display: inline-block;
    vertical-align: 78px;
    font-size: 17px;
    color: #acaa9c;
    font-family: "Myriad Pro",sans-serif;
    margin: 0;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.2));
}

.main {
    padding-left: 45px;
    margin-bottom: 185px;
}

.title {
    font-size: 25px;
    line-height: 30px;
    color: #ffffff;
    font-family: "Myriad Pro",sans-serif;
    margin:0 0 4px 0;
    font-weight: 100;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.65));
}

.title_text {
    max-width: 474px;
    font-size: 13px;
    line-height: 16px;
    color: #5a5252;
    font-family: "Myriad Pro",sans-serif;
}

.par {
    margin: 0 0 12px 0;
}

.nav_list {
    margin: 0;
    padding: 0;
}

.nav_list_li {
    list-style: none;
    display: inline-block;
}
.nav_list_a {
    font-size: 17px;
    line-height: 20px;
    color: #2e3034;
    font-family: "Myriad Pro",sans-serif;
    text-decoration: none;
    filter: drop-shadow(0 0 2px rgba(0,0,0,0.65));
}

.nav_list_a_home {
    font-size: 18px;
}

.nav_list_li_home {
    margin-right: 23px;
}

.nav_list_li_about {
    margin-right: 13px;
}

.nav_list_li_author {
    margin-right: 13px;
}